*{
    margin: 0;
    padding: 0;
}
.container-portada{
    width: 100%;
    height: 150px;
    position: absolute;
    background-image: url(../img/personal-3108154_960_720.jpg);
    background-size: 200%;
    animation: movimiento 35s infinite linear alternate; 
    margin-bottom: 20px;
}

@keyframes movimiento{
    from{
        background-position: bottom left;
    }to{
        background-position: top right;
    }
}


.capa-gradient{
    width: 100%;
    height: 100%;
    position: absolute;
    background: -webkit-linear-gradient(left, black, #0672d0);
    opacity: 0.5;
}
.details{
    width: 100%;
    max-width: 500px;
    position: relative;
    top: 20px;
    color: white;
}

.details h1{
    font-size: 40px;
    font-weight: 100;
    margin-left: 10px;
}
h1{
    display: flex;
    justify-content: center;
    padding-top: 0px;
}
.container{
    padding-top: 160px;
}
.table{
    display: relative;
}
h2{
    display: flex;
    justify-content: center;
}
.form{
    display: none;
}
